/* general styles and variables */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

:root{
  --gray-1: #333333;
  --gray-2: #4F4F4F;
  --gray-3: #828282;
  --gray-4: #BDBDBD;
  --gray-5: #4E5150;
  --gray-6: #F2F2F2;
  --orange: #F2994A;
  --white: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-1);
  padding: 3% 20%;
}
h1{
  font-size: 36px;
  color: var(--gray-5);
}
.content{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10%;
}

/* receipt styles */


/* form styles */
form{
  width: 100%;
  max-width: 465px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
.contact-information,
.shipping-address{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-information{
  margin-bottom: 15%;
}
form label{
  font-size: 12px;
  color: var(--gray-2);
}
form .input{
  padding: 10px;
  border: 1px solid var(--gray-3);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.container-input{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-text{
  width: 80%;
  background-color: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--gray-1);
}
.input-text::placeholder{
  color: var(--gray-3);
}
.icon{
  width: 24px;
  height: 24px;
  color: var(--gray-2);
}
.input-checkbox{
  appearance: none;
  height: 21px;
  min-width: 21px;
  border: 1px solid var(--gray-3);
  border-radius: 4px;
}
.input-checkbox:checked{
  background-color: var(--orange);
  border: 1px solid var(--orange);
}
.sub-container-input,
.container-checkbox{
  display: flex;
  align-items: center;
  gap: 15px;
}
form button{
  outline: none;
  background-color: var(--orange);
  padding: 5% 12%;
  color: var(--white);
  font-size: 16px;
  border: none;
  border-radius: 12px;
}